{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    [
      "module-resolver",
      {
        "alias": {
          "@casino": "./src/casino",
          "@data": "./src/data",
          "@iptv": "./src/iptv",
          "@root": "./src",
          "@stream": "./src/stream",
          "@util": "./src/util"
        }
      }
    ]
  ]
}
